// // We use these to control various global styles
$body-bg: #eee !default;
$body-font-color: #222 !default;

// // We use these as default colors throughout
$primary-color: #2ba6cb !default;
$secondary-color: #e9e9e9 !default;
$alert-color: #c60f13 !default;
$success-color: #5da423 !default;

// // We use these to make sure border radius matches unless we want it different.
$global-radius: 6px !default;
// // We use this to control whether or not CSS classes come through in the gem files.
// $include-html-classes: true !default;
$include-print-styles: false !default;
// $include-html-global-classes: $include-html-classes !default;

// // Miscellaneous useful HTML classes
.left         { float: left !important; }
.right        { float: right !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hide         { display: none; }

$code-color: #eee;
$code-font-family: Inconsolas, Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: normal;

// $list-style-position: inside;
// $button-font-weight: 300;
// $button-border-width: 0px;
// $button-border-style: none;

// $clearing-bg: $body-bg;
// $clearing-carousel-bg: $body-bg;
// $clearing-close-color: $body-font-color;
// $clearing-caption-font-color: $body-font-color;
// $clearing-active-img-height: 75%;
// $clearing-carousel-height: 75px;
// $clearing-carousel-thumb-width: 100px;
// $clearing-carousel-thumb-active-border: 4px solid rbg(255,0,0);

// $keystroke-font: Inconsolas, Consolas, 'Liberation Mono', Courier, monospace;
// $keystroke-font-size: emCalc(14);
// $keystroke-font-color: #f00;

$side-nav-link-color: #fff;
$side-nav-link-color-active: darken(#000, 30%);
$side-nav-font-weight: normal;



// // OFF CANVAS VARIABLES
// // Off Canvas Tab Bar Variables
$tabbar-bg: $primary-color !default;
// $tabbar-height: rem-calc(45) !default;
// $tabbar-line-height: $tabbar-height !default;
$tabbar-color: $body-bg !default;
// $tabbar-middle-padding: 0 rem-calc(10) !default;

// // Off Canvas Divider Styles
$tabbar-right-section-border: none 0px lighten($tabbar-bg, 10%) !default;
$tabbar-left-section-border: none 0px darken($tabbar-bg, 10%) !default;

// // Off Canvas Tab Bar Headers
$tabbar-header-color: lighten($body-bg, 10%) !default;
$tabbar-header-weight: normal !default;
// $tabbar-header-line-height: $tabbar-height !default;
// $tabbar-header-margin: 0 !default;

// // Off Canvas Menu Variables
// $off-canvas-width: 250px !default;
$off-canvas-bg: darken($secondary-color, 80%) !default;

// // Off Canvas Menu List Variables
// $off-canvas-label-padding: 0.3rem rem-calc(15) !default;
// $off-canvas-label-color: #999 !default;
// $off-canvas-label-text-transform: uppercase !default;
// $off-canvas-label-font-weight: bold !default;
// $off-canvas-label-bg: #444 !default;
// $off-canvas-label-border-top: 1px solid lighten(#444, 10%) !default;
// $off-canvas-label-border-bottom: none !default;
// $off-canvas-label-margin:0 !default;
// $off-canvas-link-padding: rem-calc(10, 15) !default;
// $off-canvas-link-color: rgba(#FFF, 0.7) !default;
// $off-canvas-link-border-bottom: 1px solid darken($off-canvas-bg, 5%) !default;

// // Off Canvas Menu Icon Variables
// $tabbar-menu-icon-color: #fff !default;
// $tabbar-menu-icon-hover: darken($tabbar-menu-icon-color, 30%) !default;

// $tabbar-menu-icon-text-indent: rem-calc(35) !default;
// $tabbar-menu-icon-width: $tabbar-height !default;
// $tabbar-menu-icon-height: $tabbar-height !default;
// $tabbar-menu-icon-line-height: rem-calc(33) !default;
// $tabbar-menu-icon-padding: 0 !default;

// $tabbar-hamburger-icon-width: rem-calc(16) !default;
// $tabbar-hamburger-icon-left: rem-calc(13) !default;
// $tabbar-hamburger-icon-top: rem-calc(5) !default;

// // Off Canvas Back-Link Overlay
// $off-canvas-overlay-transition: background 300ms ease !default;
// $off-canvas-overlay-cursor: pointer !default;
// $off-canvas-overlay-box-shadow: -4px 0 4px rgba(#000, 0.5), 4px 0 4px rgba(#000, 0.5) !default;
// $off-canvas-overlay-background: rgba(#FFF, 0.2) !default;
// $off-canvas-overlay-background-hover: rgba(#FFF, 0.05) !default;

// // Transition Variabls
$menu-slide: "transform 400ms ease" !default;