// @import "foundation";

// Global Foundation Settings
// @import "settings";
@import "settings.minimal";

// Comment out this import if you don't want to use normalize
@import "normalize";



// @import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
@import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
@import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";




@import "highlight-styles/solarized_dark";

// foundation icon fonts 3
@import "foundation-icons";

$paragraph-margin-bottom: emCalc(20);
$primary-color-yellow: #ffe12f;
$primary-color-magenta: #ea2b7f;
$primary-color-dark: #0e6a84;
$primary-color-cta-orange: #ff982f;

$padding-global: emCalc(20px);
$padding-global-plus: emCalc(30px);


pre {
  padding: 20px;
}

// http://stackoverflow.com/questions/15928366/foundation-4-clearing-lightbox-thumbs-not-displaying-correctly

// Clearing Docs .clearing-thumbs { list-style: none; }
.clearing-thumbs li { float: left; margin-right: 10px; max-width: 100%; }
.resume-bullets { padding-left: emCalc(40px); }

span.inline-code {
	color: $body-font-color;
	background: darken($body-bg, 20%);
	padding-left: emCalc(4px);
	padding-right: emCalc(4px);
}

pre {
  display: block; padding: 0.5em;
  background: #002b36; color: #839496;
}

// fix for paragraphs following pre blocks
pre + p {
	margin-top: $paragraph-margin-bottom;
}

// collapse margins for mobile top nav

#top {
	margin-top:0px;
	margin-bottom:0px;
}

#top > div > p {
	margin-top:0px;
	margin-bottom:0px;
}

#mos-header {
  background: $primary-color;
  // padding-top: $padding-global-plus;
}

#about-header {
  background: $primary-color-yellow;
  padding-top: $padding-global-plus;
}

#about-first-section {
  background: lighten($primary-color-dark, 20%);
  padding-top: $padding-global-plus;
}

#products-banner {
  background: $primary-color;
  padding-top: $padding-global;
  padding-bottom: $padding-global;
}

#mos-top-footer {
  background: $primary-color;
  padding-top: $padding-global;
}

#mos-footer {
  background: darken($secondary-color, 80%);
  padding-top: $padding-global/2;
  padding-bottom: $padding-global/4;
}

.alt-text {color: #fff !important; }
#mos-footer-nav {padding-top: 12px; }
#mos-footer-social-nav {padding-top: 12px; }
.social-icons {font-size: emCalc(44px); }
.social-icons a {color: darken($secondary-color, 30%); }

.cta {
  background: $success-color;
}
.cta:hover {
  background: darken($success-color, 10%);
}


nav.tab-bar:after  {
}

.content-top-spacing {
  padding-top: emCalc(30px);
}

.title a {
  color: #fff !important;
}


// disqus bloat

#dsq-comments-title h4 {
color:#333;
}
#disqus_thread {
padding:12px;
margin-bottom:-10px;
}
#disqus_thread h4 {
color:#333;
font-family: Helvetica, sans-serif;
font-size:12px;
padding-bottom:.5em;
}
#dsq-content div.dsq-options {
background:none;
padding-bottom:10px;
}
#dsq-comments li.dsq-comment {
margin-top:12px;
margin-bottom:10px;
padding:5px;
background:#FFFFFF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:0px solid #ccc;
}
#dsq-content div.dsq-post-area {
padding:5px;
background:#F0F0E9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:1px solid #ccc;
-webkit-box-shadow: 0px 0px 10px #FFFFFF;
-moz-box-shadow: 0px 0px 10px #ECF40B;
}
#dsq-content .dsq-comment-header {
background:#F5F5F5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #ccc;
}
.dsq-brlink {
display:none;
}
#dsq-content .dsq-comment-message {
background:#EDEDED;
padding:5px;
margin-left: 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#dsq-content #dsq-authenticate .dsq-login-buttons {
background:none;
background-image:none;
margin-bottom:0;
}
#dsq-content #dsq-form-area .dsq-textarea .dsq-textarea-wrapper,
#dsq-content #dsq-form-area .dsq-post-fields .dsq-input-wrapper {
border: 1px solid #ccc;
}
#dsq-new-post div.dsq-request-user-info {
background:none;
padding-bottom:0px;
}

.f4callout {
  background: $primary-color;
}

// socialite below

.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }
/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: block; margin: 0; padding: 10px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('/javascripts/vendor/socialite/demo/images/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }
