---
title: "The Dvorak Simplified Keyboard Layout: smart, superior and easy to learn"
seo_desc: James Stone is an advocate for the Dvorak Keyboard Layout. What started out at as a class assignment turned into a life long pursuit.
---

<div class="content-top-spacing"></div>

<div class="row"><div class="small-12 columns">
  <h2>Dvorak Simplified Keyboard Layout, Established 1936<br>
  <small>Aces then and still awesome today</small> </h2>

  <p>I have always been interested to learn the Dvorak keyboard layout. It is something of uber-geek status and something I thought was very difficult to learn. For a class at SJSU called Art 106 - Human Machine Interface I was given the assignment to learn a skill and document it over ten weeks. <a href="http://www.sjsu.edu/art/community/faculty/digitalmedia/stevedurie/">Professor Steve Durie</a> was the mastermind behind this project and I not only learned Dvorak but the video series has amassed over 45,000 views on YouTube.</p>

  <p>I have assembled everything for your viewing pleasure. If you prefer a YouTube experience you can check out the <a href="http://www.youtube.com/playlist?feature=edit_ok&list=PL4C2EEAEFCEB72B94">playlist</a>.</p>

  <p>You might be wondering about where the stats are and what happened to weeks eight and nine. Well weeks eight and nine do not exist and I am going through my archives to get hunt down my original stats. I will post them here once I locate them.</p>

  <p>If you love Dvorak, hate it and use something else or are struggling to learn it yourself I would love to hear from you in the comments below or on the original YouTube pages.</p>
</div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-6 small-centered columns">
    <div class="panel">
      <h3>Dvorak, a superior keyboard layout</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/w-0BN_Wdh4g" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>This is a introduction video that I created to explain why I was interested in learning Dvorak and what some of my rational is. This video has been viewed over 30,000 times on youtube and has over 100 comments.</p>
      <p>A quick presentation about why the Dvorak keyboard layout is superior to Qwerty and why I decided to spend 10 weeks learning Dvorak.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
<div class="panel">
    <h4>Transcript:</h4>

    <p>Dvorak, a superior keyboard layout. Why learn it, and who cares, anyways? This is just my quick introduction into a little bit about the history of Dvorak keyboard and why I am choosing it as a keyboard to switch to from Qwerty. First of all, let me go ahead and introduce Dr. August Dvorak. This is the man behind the scenes, he invented this keyboard along with one other man back in the 1930s, this was back when electronic typewriters were starting to become in use, and basically, they were looking for a way to reduce strain and allow people to type faster. Let me go ahead and talk about some of the different reasons why I'm interested in the Dvorak keyboard.</p>
    <p>First reason is speed. This beautiful young lady is Barbara Blackburn. She failed her high school typing class on a Qwerty keyboard. However, she now types at a 170 words per minute, peaking in 212 words per minute, placing her in the Guinness Book of World Records, and, got to love this, she refuses to type on the Qwerty keyboard.</p>
    <p>One of the other great things about the Dvorak keyboard is you alternate hands. The vowels are on the left hand home row, which causes you to alternate, so as you type words, you typically move from left to right and vice versa. The typing is also equally split behind, between the hands, allowing you to type quite a bit faster.</p>
    <p>Dvorak is also easy to learn. In one study, it took Dvorak users 52 hours to catch up with Qwerty typist with over three years of experience. Also in learning Qwerty you have to type a bunch of nonsense. I took Qwerty typing, back in high school, and you type these a, j, k, ; over and over and over again, it makes absolutely no sense, it 's very counterintuitive.</p>
    <p>With Dvorak, you're typing words right from the get go, things like, 'the thousand tents' can all be typed right from the home row. Let 's talk a little bit about RSI, Repetitive stress injuries. With Dvorak, your fingers move less. How much less? Dvorak, you type typically one mile per day whereas Qwerty you type 16 to 20 miles per day. That 's a lot of extra movement by those fingers.</p>
    <p>Also, it's also been found that suffers can type faster, and most RSI suffers no longer feel pain after switching to Dvorak from Qwerty. Let's talk a little about accuracy. Dvorak typist make fewer mistakes, typically half as many. That's a lot of time you can spend doing other things. That pretty much concludes my presentation, if you're not sold on Dvorak, I sure am.</p>
    <p>I'm going to spending ten weeks learning how to type Dvorak, putting in a lot of work and effort and documenting my process on the web. These are some of the sources I used for the information for this presentation, feel free to go ahead and take a lot at some of these websites, they're really great.</p>
  </div>  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3>Learning Dvorak, My 10 Week Journey</h3>
    <p>My 10 week journey into learning the Dvorak keyboard layout from Qwerty, join me on my quest for a more intuitive human machine interface.</p>
  </div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 01</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/Ay_e-GAoN30" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>I introduce my coach and conduct some baseline tests to show where my typing skills are at.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 02</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/Kc7WK0U51Xw" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>With about 2 hours of practice in from the previous week, check out where I ended up.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 03</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/YX5qhPaLLuw" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>My qwerty has speed has tanked, and my dvorak speed is slowly climbing.  Check out where I am at this week and listen to some words of wisdom from Maria.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 04</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/U-HE8i9Gg8A" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Check out where I am at this week and listen to some words of wisdom from Maria.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 05</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/OdnbIh8q_-4" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Did you know I am typing this in Dvorak, right now?</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 06</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/f26UQ26kL74" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Dvorak continues to improve and Qwerty is quite bad at this point. Apparently practicing Dvorak at night is bad. Watch the video to find out why.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 07</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/VKZrz3mLsZQ" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Footage from Dvorak's promotional navy film, remixed.</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns">
    <div class="dvorak-fixed-height panel">
      <h3>Week 10</h3>
      <div class="flex-video">
        <iframe width="640" height="480" src="//www.youtube.com/embed/Ne6VqP_HWhQ" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>The final results are in: Dvorak, the winner possibly. And a video compression artifact black eye, perhaps?</p>
    </div>
  </div>
  <div class="medium-6 large-4 columns show-for-medium-up"></div>
</div>

<div class="row">
  <div class="small-12 medium-8 large-6 small-centered columns">
<div class="panel callout">
    <div class="row">
      <div class="small-6 large-7 columns">
      <h3>The Book</h3>

      <p>I writing a book demonstrating my learning method and providing much more insight to how to use the Dvorak layout on a daily basis. If you are interested please indicate your support through LeanPub. If I receive enough interest I will apply more hours towards it so it will become available sooner.</p>

      <p>Happy typing!</p>
      </div>
      <div class="small-6 large-5 columns">
        <iframe width="160" height="400" src="https://leanpub.com/aoeuandi/embed" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>  </div>
</div>



<div class="row">
  <div class="large-8 large-centered columns">
    <!-- comments -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'manofstone';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
