---
title: "About James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: I am the author of Zurb Foundation Blueprints (Packt) and the Chief Investigator at James Stone Intermedia. I have worked at Apple, Loudeye (now Nokia), Tower Records and taught at the School of Visual Art at Penn State as an Instructor.
active_nav: about
---

.content-top-spacing

.row: .large-10.large-centered.columns

  markdown:
    I am the author of [Zurb Foundation Blueprints](/zurb-foundation-blueprints) (Packt) and the Chief Investigator at James Stone Intermedia. I have worked at Apple, Loudeye (now Nokia), Tower Records and taught at the School of Visual Art at Penn State as an Instructor. I have worked on projects for organizations such as Eyebeam, The Symposium for the Electronic Arts, Gray Area Foundation For The Arts (GAFFTA), Zero One Art + Technology Festival, the Spencer Museum of Art and the Montalvo Arts Center. I have spoken at TEDxPSU, the HTML5 Developers Conference and the UMD Design | Cultures + Creativity Honors College.

  .row: .small-12.medium-5.large-6.small-centered.columns
    p: a href="http://tedxtalks.ted.com/video/TEDxPSU-James-Stone-A-Technolog": img.th src="/images/tedxpsu-widescreen-retina.jpg" alt="James Stone speaking at TEDxPSU"

  markdown:

    This is my personal blog. It is focused on working with modern web technology. My philosophy is that if you want to build great products, you must have great idea([ation](http://www.amazon.com/gp/product/1449334911/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449334911&linkCode=as2&tag=jamestonport-20)), [stay hungry](http://www.youtube.com/watch?v=D1R-jKKp3NA), [stay foolish](http://english.stackexchange.com/questions/44538/what-does-the-phrase-stay-hungry-stay-foolish-mean) and [ship](http://www.folklore.org/StoryView.py?story=Real_Artists_Ship.txt).

    My goal is to provide you with insightful, relevant articles that you can implement today in your projects. I write about technology, creativity and marketing. Occasionally I might talk about software or tools that I found that are useful.

    If you are excited about the modern web and all the possibilities it holds, then this blog is for you.

    I typically post once or twice a week. To make sure you don’t miss my newest posts, you can subscribe via [RSS](http://feeds.feedburner.com/jamesmanofstone) or [e-mail](/subscribe).

  h3 My Top Posts
  p If you are new to my site, you might want to start with my most popular posts. Here are my top three in each category:
  h4 Zurb Foundation 5
  ul
    li: a href="/blog/compass-sass-vs-sassc-for-zurb-foundation-4" Compass Sass vs Sassc for Zurb Foundation
    li: a href="/blog/zurb-foundation-5-medium-grid/" Zurb Foundation 5 Medium Grid
    li: a href="/blog/using-zurb-ink-with-mailchimp/" Using Zurb Ink with MailChimp

  h4 Ruby
  ul
    li: a href="/blog/using-ruby-middleman-with-zurb-foundation-5" Using Ruby Middleman with Zurb Foundation 5
    li: a href="/blog/10-things-i-love-about-ruby/" 10 Things I Love About Ruby
    li: a href="/blog/dotrb-ruby-confrence-in-paris-france/" Dotrb Ruby Confrence in Paris France

  markdown:

    ### My Contact Information

    You can contact me via [e-mail](mailto:jamesmanofstone@gmail.com) or follow me on [Twitter](https://twitter.com/manofstone), [GitHub](https://github.com/manofstone), [StackOverflow](http://stackoverflow.com/users/1560583/manofstone) or [LinkedIn](http://www.linkedin.com/in/manofstone).

    ### Colophon

    This site is built using [Middleman 3](http://middlemanapp.com/) and the [middleman-blog gem](http://middlemanapp.com/blogging/). It is a free open source static site generator and it is pretty awesome. I also use the amazing [Zurb Foundation 5](http://foundation.zurb.com/) Responsive Web Framework along with its dependancy of [jQuery 2](http://jquery.com/). I also use the [TimeAgo jQuery plugin](http://timeago.yarp.com/), [Highlight.js](http://highlightjs.org/) and [Processing.js](http://processingjs.org/). I use the [image-optim](https://github.com/toy/image_optim) gem for image optimization and the [middleman-deploy gem](https://github.com/tvaughan/middleman-deploy) for easy rsync to my server.

    The template is one that I have custom created for this site and if you are interested at all about how any of this works, I have posted the entire source on GitHub.

    This site is hosted on a [Ubuntu](http://www.ubuntu.com/) 12.04 LTS server at [RackSpace](http://www.rackspace.com/) using [nginx](http://nginx.org/) and configured for maximum performance. RackSpace is not for the faint of heart. For an easier hosting solution I suggest [dreamhost](http://www.dreamhost.com/) or [heroku](https://www.heroku.com/).

    Photography is provided courtesy of [Unsplash](http://unsplash.com/) and David Niblack of [Imagebase](http://imagebase.net/).


