---
title: Form
date: 2013/08/26
tags: studio, 3d, cad, cyborgplants, robot
featured_image: /blog/featured-images/form-plants.jpg
---



    <p>Earlier this morning I have been experimenting with some different ideas in form for smaller cyborgplants.</p>

    SPLIT_SUMMARY_BEFORE_THIS

    <ul class="clearing-thumbs" data-clearing>
      <li><a href="../../../images/studio/2013/form/moi_progress_screenshot.png"><img src="../../../images/studio/2013/form/moi_progress_screenshot.png" class="th" width="225" height="150"></a></li>
      <li><a href="../../../images/studio/2013/form/small_planter_twilight_render3.jpg"><img src="../../../images/studio/2013/form/small_planter_twilight_render3.jpg" class="th" width="150" height="150"></a></li>
    </ul>
    <br>
