

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h2 class="title"><a href="/">manofstone.com</a></h2>
      </section>



      <!-- <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section> -->



    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>James Stone</label></li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/studio">Studio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        ...
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
