<div class="row">
  <div class="small-10 small-centered large-10 columns">
    <div class="panel callout radius">
      <h5>Get the free Zurb Foundation Quick Reference Guide</h5>
      <div class="row">
        <div class="large-12 columns">
          <p> <img src="/images/zurb-foundation-blueprints/quick-ref-placed.jpg" alt=""> </p>
          <!-- Begin MailChimp Signup Form -->
          <form action="http://jamesjamesjames.us5.list-manage1.com/subscribe/post?u=d4dbc5cdf8&amp;id=30ca2edfef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="custom" target="_blank" novalidate data-abide>
          <input type="hidden" name="REF" id="mce-REF" value="<%= current_page.url %>">

      <!--           <div class="row">
              <div class="large-12 columns">
                <div class="name-field">
                  <input type="text" name="FNAME" id="mce-FNAME" placeholder="first name" required pattern="[a-zA-Z]+">
                  <small class="error">Your first name is required.</small>
                </div>
              </div>
            </div>
       -->          <div class="row">
              <div class="large-12 columns">
                <div class="email-field">
                  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="name@domain.com" required>
                  <small class="error">An email address is required.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <input type="submit" value="Get the free Quick Ref &raquo;" name="subscribe" id="mc-embedded-subscribe" class="button radius expand">
              </div>
            </div>
          </form>
      <p>SPAM Sucks. Thats why I promise only to send you foundation goodness about two to three times per month. Unsubscribe at anytime.</p>

        </div>
      </div>
    </div>
  </div>
</div>