---
title: James Stone Artist Statement
---


  <div class="row">
    <div class="large-12 columns">
    <img src="../images/bio-banner.png" />
    <hr>
    </div>
  </div>

  <div class="row">
    <div class="large-4 push-4 columns">
      <h4>Artist Statement</h4>
      <p>As an artist I am attracted to systems that can be defined by simple behaviors that create aesthetically interesting and complex art. My art practice focuses on the use of digital tools that can create feedback loops within their analog counterparts. I want to create feedback where the digital can inform the analog and vice versa.</p>
      <p>Taking this idea further I am also exploring feedback between research and studio practice and between art and science.</p>

    </div>
    <div class="large-4 pull-4 columns">
      <img src="../images/bio-headshot.jpg">
    </div>
    <div class="large-4 columns">

      <p>This poses some interesting questions such as:</p>
      <ul class="resume-bullets">
          <li>How can art influence science?</li>
          <li>How can science influence art?</li>
          <li>And how can these systems be fed back into one another possibly creating new modes of inquiry?</li>
        </ul>
      <p>My research lies within how these disparate modes or disciplines can mold and influence one another possibly creating a form of binary recursion.</p>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns"><hr></div>
  </div>

  <div class="row">
    <div class="large-4 push-8 columns">
      <img src="../images/bio-working.jpg" alt="">
    </div>
    <div class="large-8 pull-4 columns">
      <h4>About the Artist</h4>
      <p>James Stone is a Media Artist specializing in digital technologies and fabrication. James’ work involves creating interventions with the biological to augment and expand the notion of what is considered cyborg. His projects have been shown nationally and internationally at ISEA, 01sj and GAFFTA. He was a resident at the Institute for the Arts and Humanities and served as Faculty for Eyebeam. He served as a University Fellow and Instructor at the Pennsylvania State University where he taught game and creative coding techniques using Processing. He currently lives in Paris, France with his wife Maria.</p>
    </div>

  </div>

