---
title: "About James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: James Stone is an Author, Speaker, Developer and Media Artist. He taught game and creative coding at Penn State and served as faculty for Eyebeam.
active_nav: contact
---

<div class="content-top-spacing"></div>

<div class="row">
  <div class="medium-10 medium-centered large-8 large-centered columns">
    <div id="wufoo-m1t2o4t90m5dy06">
      Fill out my <a href="https://manofstone.wufoo.com/forms/m1t2o4t90m5dy06">online form</a>.
    </div>
  </div>
</div>


<script type="text/javascript" defer>var m1t2o4t90m5dy06;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'manofstone',
    'formHash':'m1t2o4t90m5dy06',
    'autoResize':true,
    'height':'437',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { m1t2o4t90m5dy06 = new WufooForm();m1t2o4t90m5dy06.initialize(options);m1t2o4t90m5dy06.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>