---
title: "Blog of James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: I post about Zurb Foundation, responsive web design, ruby and ruby on rails, creative coding and the processing language and ide.
---

.content-top-spacing

/ .row: .small-12.columns: h2 Subscribe

= partial "emailsignup"
