---
title: "James Stone Teaching: Author, Speaker, Developer and Media Artist"
seo_desc: James Stone is an Author, Speaker, Developer and Media Artist. He taught game and creative coding at Penn State and served as faculty for Eyebeam.
active_nav: teaching
---

<div class="content-top-spacing"></div>

<div class="row">
  <div class="medium-6 large-6 columns">
    <div class="flex-video">
      <iframe width="853" height="480" src="//www.youtube.com/embed/MCiT8YGK0t8?autoplay=0&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="medium-6 large-6 columns">
    <div class="flex-video">
      <iframe width="960" height="720" src="//www.youtube.com/embed/w-0BN_Wdh4g?autoplay=0&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>

<div class="row">
  <div class="medium-3 large-3 columns">
    <h5>Speaking Engagements and Presentations</h5>
  </div>
  <div class="medium-9 large-9 columns">
    <ul class="resume-bullets">
      <li>HTML5 Developers Confrence, San Francisco</li>
      <li>Schreyers Honors College, the Pennsylvania State Univeristy</li>
      <li>TEDxPSU</li>
      <li>Digital Cultures and Creativity Honors College, University of Maryland</li>
      <li>Salisbury University</li>
      <li>ISEA Istanbul (International Symposium for the Electronic Arts)</li>
      <li>Penn State Exploration Day</li>
      <li>Penn State Altoona</li>
    </ul>
  </div>

</div>




<div class="row">
  <div class="large-3 columns">
    <h5>Education</h5>
  </div>
  <div class="large-9 columns">
    MFA, The School of Visual Art, The Pennsylvania State University 2012<br>
    BFA, The School of Art and Design, San Jose State University 2010<br>
    Visual Thinking and Creativity in Paris, France Summer 2007<br>
  </div>
</div>

<div class="row"> <div class="large-12 columns"> <p>&nbsp;</p> </div> </div>
