---
title: Zurb Foundation Blueprints - a Book by James Stone
seo_desc: A book that showcases 9 practical projects, demonstrating Zurb Foundation being used to build professional and responsive websites.
---

<div class="row">
  <div class="large-10 large-centered columns">&nbsp;</div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="panel radius">
      <h2 id="zfbp-landing-headline">Zurb Foundation Blueprints&mdash;by James Stone</h2>
      <h4>Showcasing 9 practical projects that demonstrate how build professional and responsive websites.</h4>
    </div>  </div>
  </div>


  <div class="row">


   <div class="large-4 columns">
    <div class="row">
      <div class="small-6 small-centered medium-12 medium-uncentered large-12 large-uncentered columns">
        <img src="../images/zurb-foundation-blueprints/final-mocked-cover.png" alt="Zurb Foundation Blueprints">
      </div>
    </div>
      <p>ZURB Foundation Blueprints, published by Packt Publishing takes you through 9 projects step-by-step. In each chapter I show you exactly how to create functional and responsive designs. I will teach you the best practices in Foundation by showing how entire sites are built from the ground up.</p>

  </div>

  <div class="large-4 columns">
    <p>The book is not out yet, but there is no reason why you can't learn ZURB Foundation today. I publish videos, screencasts, tutorials and articles on a weekly basis. If you are interested in Foundation 5, my upcoming book and learning the best ways to make killer responsive sites then you should join my updates list today.</p>

    <ul class="no-bullet">
      <li><i class="fi-checkbox" style="font-size:24px;"></i> <strong>Learn ZURB Foundation fast</strong> with my lastest tutorials, screencasts and articles.</li>
      <li><i class="fi-checkbox" style="font-size:24px;"></i> <strong>Waste Less Time</strong> by connecting with a ZURB Foundation top contributor.</li>
      <li><i class="fi-checkbox" style="font-size:24px;"></i> <strong>Build Websites Now</strong> by focusing on learning practical web development skills.</li>
      <li> <i class="fi-checkbox" style="font-size:24px;"></i> <strong>ZURB Foundation 5 Quick Reference Guide</strong>, an $8.99 value, for free.</li>
    </ul>

  </div>




  <div class="large-4 columns">
    <div class="row">
      <div class="small-10 small-centered large-10 columns">
        <div class="panel callout radius">
          <h5>Foundation 5 Quick Reference Guide</h5>
          <div class="row">
            <div class="large-12 columns">
              <p> <img src="/images/zurb-foundation-blueprints/quick-ref-placed.jpg" alt=""> </p>
              <!-- Begin MailChimp Signup Form -->
              <form action="http://jamesjamesjames.us5.list-manage1.com/subscribe/post?u=d4dbc5cdf8&amp;id=30ca2edfef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="custom" target="_blank" novalidate data-abide>
                <input type="hidden" name="REF" id="mce-REF" value="<%= current_page.url %>">
                <div class="row">
                  <div class="large-12 columns">
                    <div class="email-field">
                      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email" required>
                      <small class="error">An email address is required.</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <input type="submit" value="Join and Download FREE &raquo;" name="subscribe" id="mc-embedded-subscribe" class="button radius expand">
                  </div>
                </div>

                <br>
                <input checked="" type="checkbox" id="mce-group[13617]-13617-1" name="group[13617][1]" value="1">
                <label for="mce-group[13617]-13617-1" Zurb="" checked="" Foundation="">Zurb Foundation</label>
                <br>
                <input type="checkbox" id="mce-group[13617]-13617-0" name="group[13617][8]" value="8">
                <label for="mce-group[13617]-13617-0" check="" New="" Blog="" Posts="">New Blog Posts</label>
                <br>
              </form>
              <small>I would never share, rent or sell your email address to anyone. Email about once per week. Unsubscribe at anytime with one click.</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>