---
title: Zurb Foundation Blueprints - a Book by James Stone
seo_desc: A book that showcases 9 practical projects, demonstrating Zurb Foundation being used to build professional and responsive websites.
---

<div class="row">
  <div class="large-12 columns">
  <h2 id="zfbp-landing-headline">Download my Free Zurb Foundation Quick Reference<br><small> learn about Zurb Foundation and get a special offer when Zurb Foundation Blueprints is released</small></h2>
  </div>
</div>

<div class="row">
  <div class="medium-4 large-4 columns push-8"><%= partial "zurbsignupsidebar" %></div>
  <div class="medium-8 large-8 columns pull-4">
    <div class="row">
      <div class="small-8 small-centered medium-uncentered medium-4 large-uncentered large-4 columns">
        <img src="../images/zurb-foundation-blueprints/mocked-cover.png" alt="Zurb Foundation Blueprints">
      </div>
      <div class="medium-8 large-8 columns">

        <p>In my consultancy I am creating and iterating websites and web apps constantly. I work fast and loose and take an agile approach. Although some of these small prototypes might not be used in the final product it is critical to be able to use the same framework when deploying to production. I am not interested in building once, then building again with another technology.</p>

        <p>Zurb Foundationy is my framework of choice for Front End Development which is why I am writing a book on it. Zurb Foundation Blueprints (out later this year on Packt Publishing) takes you through 9 projects step-by-step. In each chapter I show you exactly how to create functional and responsive designs. I will teach you the best practices in Foundation by showing how entire sites are built from the ground up.</p>

        <p>By signing up for my list you will get insider information about the book before it is published an special offers for my early adopters. In fact, if you sign up today I will send you my Zurb Foundation Quick Reference Guide, an $8.99 value, for free. I am making this offer available until November 30th, 2013.</p>

      </div>

    </div>
  </div>
</div>
