---
title: Zurb Foundation Blueprints - a Book by James Stone
seo_desc: A book that showcases 9 practical projects, demonstrating Zurb Foundation being used to build professional and responsive websites.
---

<div class="row">
  <div class="large-10 large-centered columns">&nbsp;</div>
</div>


<div class="row">
  <div class="large-12 columns">
<div class="panel radius">
    <h2 id="zfbp-landing-headline">Zurb Foundation Blueprints&mdash;by James Stone</h2>
    <h4>Showcasing 9 practical projects that demonstrate how to use Zurb Foundation and how to build professional and responsive websites.</h4>
  </div>  </div>
</div>

<div class="row">
  <div class="medium-4 large-4 columns push-8">
    <div class="row">
      <div class="small-10 small-centered large-10 columns">
        <div class="panel callout radius">
          <h5>Zurb Foundation Quick Reference Guide</h5>
          <div class="row">
            <div class="large-12 columns">
              <p> <img src="/images/zurb-foundation-blueprints/quick-ref-placed.jpg" alt=""> </p>
              <!-- Begin MailChimp Signup Form -->
              <form action="http://jamesjamesjames.us5.list-manage1.com/subscribe/post?u=d4dbc5cdf8&amp;id=30ca2edfef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="custom" target="_blank" novalidate data-abide>
              <input type="hidden" name="REF" id="mce-REF" value="<%= current_page.url %>">
                <div class="row">
                  <div class="large-12 columns">
                    <div class="email-field">
                      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email" required>
                      <small class="error">An email address is required.</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <input type="submit" value="Join and Download FREE &raquo;" name="subscribe" id="mc-embedded-subscribe" class="button radius expand">
                  </div>
                </div>

                <br>
                <input checked="" type="checkbox" id="mce-group[13617]-13617-1" name="group[13617][1]" value="1">
                <label for="mce-group[13617]-13617-1" Zurb="" checked="" Foundation="">Zurb Foundation</label>
                <br>
                <input type="checkbox" id="mce-group[13617]-13617-0" name="group[13617][8]" value="8">
                <label for="mce-group[13617]-13617-0" check="" New="" Blog="" Posts="">New Blog Posts</label>
                <br>
              </form>
              <small>I would never share, rent or sell your email address to anyone. Email about once per week. Unsubscribe at anytime with one click.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-8 large-8 columns pull-4">
    <div class="row">
      <div class="small-8 small-centered medium-uncentered medium-4 large-uncentered large-4 columns">
        <img src="../images/zurb-foundation-blueprints/mocked-cover-revised.png" alt="Zurb Foundation Blueprints">
      </div>
      <div class="medium-8 large-8 columns">

        <p>Zurb Foundation is my framework of choice for Front End Development and Responsive Websites which is why I am excited to be writing a book about it. Zurb Foundation Blueprints, published by Packt Publishing takes you through 9 projects step-by-step. In each chapter I show you exactly how to create functional and responsive designs. I will teach you the best practices in Foundation by showing how entire sites are built from the ground up.</p>

        <p>The book is not out yet and the details are not out yet, but I will let you in on a little secret: <strong>I always take care of my early adopters</strong>. If you are interested in Zurb Foundation, Zurb Foundation Blueprints and learning the best ways to make killer responsive sites then you should join my updates list.</p>

        <p>Here are a few reasons why:</p>

        <ul>
          <li>Weekly updates with articles on how to build cool stuff with Foundation and other awesome web technologies.</li>
          <li>The latest breaking news with Foundation. I updated my network just minutes after Zurb Officially released Zurb Foundation 5.</li>
          <li>Insider news about whats going in the book</li>
          <li>An exclusive discount on the book when it is released</li>
          <li>Discounts and special offers on products that I offer</li>
          <li>Exclusive product giveaways and discounts</li>

        </ul>

        <p>Not only that, if you sign up today I will send you my Zurb Foundation Quick Reference Guide, <strong>an $8.99 value, for free</strong>.</p>

      </div>

    </div>
  </div>
</div>
